In [1]:
# Question 1:
# Create a variable age and assign it the value 25 . Then print the value of
# age along with its data type using the type() function.

In [2]:
age = 25
print(age)
print(type(age))

25
<class 'int'>

In [3]:
# Question 2:
# Assign the number 12.5 to a variable price . Print both the variable and its
# data type. Then assign the value 12 to the same variable and print its data
# type again. What do you observe?

In [6]:
price = 12.5
print(price)
print(type(price))
price = 12
print(price)
print(type(price))

12.5
<class 'float'>
12
<class 'int'>

In [7]:
# Question 3:
# Create a variable is_raining and set it to True . Print the value of the variable
# along with its type. Then set is_raining to False and print the new value and
# type.

In [9]:
is_raining = True
print(is_raining)
print(type(is_raining))
is_raining = False
print(is_raining)
print(type(is_raining))

True
<class 'bool'>
False
<class 'bool'>

In [10]:
# Question 4:
# Create a variable my_name and store your full name in it as a string. Then
# print the value of my_name using single quotes ' .

In [13]:
my_name = 'Sarthak Prabhashankar Jadhav'
print(f"'{my_name}'")
print("'", my_name, "'")

'Sarthak Prabhashankar Jadhav'
' Sarthak Prabhashankar Jadhav '

In [15]:
# Question 5:
# Write a Python program that asks the user for their name and age using the
# input() function. Store the inputs in variables and print a sentence like
# "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
# integer.

In [17]:
name = input("Enter Name: ")
age = int(input("Enter Age: "))

print("Hello,", name, "! You are", age, "years old.")
print(f"Hello, {name}! You are {age} years old.")

Enter Name:  Sarthak
Enter Age:  21

Hello, Sarthak ! You are 21 years old.
Hello, Sarthak! You are 21 years old.

In [18]:
# Question 6:
# Create two variables x and y and assign them the values 10 and 3.5 ,
# respectively. Print their values and types. Then, create a new variable
# sum_xy and store the sum of x and y . Print the result and its type.

In [20]:
x = 10
y = 3.5
print(x)
print(type(x))
print(y)
print(type(y))

sum_xy = x + y
print(sum_xy)
print(type(sum_xy))

10
<class 'int'>
3.5
<class 'float'>
13.5
<class 'float'>

In [21]:
# Question 7:
# Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False

In [22]:
print(type(45.0))
print(type("hello"))
print(type(None))
print(type(False))

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

In [23]:
# Question 8:
# Write a Python program to print three strings "apple" , "banana" , and "cherry"
# on the same line, separated by a space. Then modify the program to
# separate the strings using a comma , instead of a space.

In [34]:
print("apple", "banana", "cherry")
print("apple", "banana", "cherry", sep=", ")

apple banana cherry
apple, banana, cherry

In [35]:
# Question 9:
# Create a variable big_number and assign it a very large integer value (e.g.,
# 987654321987654321 ). Print the value and its type. What do you notice about
# the size of the number?

In [36]:
big_number = 987654321987654321
print(big_number)
print(type(big_number))

987654321987654321
<class 'int'>

In [38]:
# Question 10:
# Write a Python program that prints the result of multiplying two floats (e.g.,
# 2.5 and 3.7 ). Then check and print the data type of the result.

In [39]:
print(2.5 * 3.7)
print(type(2.5 * 3.7))

9.25
<class 'float'>